
.dark{.singlePost{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
 
}
.singlePostDesc{
  color: rgb(193, 189, 189);
}}
.singlePost {
    flex: 9;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;

  margin-top: 5vh; 
  margin-bottom: 10vh;
  overflow: auto;  
  body{overflow: hidden;}
  }
  
  .singlePostWrapper { 
  text-align: center;
  }
  
  .singlePostImg {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    object-fit: contain;
    margin-left: auto;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 3%;
    font-size: 35px;
    color: #555;
    font-weight: bold;

  }
  
  .singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 2%;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: teal;
  }
  .singlePostIcon:last-child {
    color: tomato;
  }
  
  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  
  .singlePostAuthor{
    margin-left: 5px;
    color: #607d7b;
  }
  
  .route{color:rgb(120, 158, 155) ;
    font-weight: bold;}
    
  .singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }
  
  .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }