* {
  margin: 0;
  padding: 0;
  
} 

body{
                                background: linear-gradient(
                                  rgba(255, 255, 255, 0.3),
                                  rgba(255, 255, 255, 0.5)
                                ),
                                url("lightbg.jpg");
                                background-size: cover;
                                background-position: center;
                              background-repeat: no-repeat;
                             
                              .dark{

                                  background: linear-gradient(
                                  rgba(0, 0, 0, 0.7),
                                  rgba(255, 255, 255, 0)
                                  ),
                                  url("darkbackg.jpg");
                                  background-size: cover;
                                  background-position: center;
                                  background-repeat: no-repeat;
                    
                              }
 
}

.app,.app2{
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  ),
  url("lightbg.jpg");
  background-size: cover;
  background-position: center;

}

.app {
  display: flex;  flex-direction: column;
   align-items: center;
   justify-content: center;
  height: 140vh;
  
  }

.formcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; //butonun alta geçmesi için

  h1{
    color: white;
        text-align: center;
        margin: 5%;
        text-align: center;
    
  }
  form{
    background: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);

    padding: 20px;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 350px;
    min-height: 450px;
    align-items: center;
  }

  .btn{
    width: 350px;
    margin-top: 8%;
  }
  .login-btn{
    width: 280px;
    margin-top: 5%;
  }
  
  .line{
    color: white;
    margin-top: 5%;
    font-size: 18px;
  }
}


.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
 
    
    label{
      font-size: 12px;
      color: gray;
    }
    
    span{
      font-size: 12px;
      padding: 3px;
      margin-top: -8%;
      color: red;
      display: none;
    }
    input{
      padding: 10px; 
      border-radius: 5px;
      border-style: none;
      width: 100%;
      margin-bottom: 8%;
    }
  input:invalid[focused="true"]{
    border: 1px solid red;
  }
  
  input:invalid[focused="true"] ~ span{
    display: block;
  }
    

  .icon{
 
    margin-left: -10%;
    margin-top: -63%;
    color: grey;
  } 
}

.custom{
  .formInput{
    input:invalid[focused="true"]{
      border: none;
    }  
  }
}

.icon{  
  font-size: 2.5em;
  color: #789e9b; 
  padding-right: 6%;
}

.route{color:rgb(120, 158, 155) ;
font-weight: bold;
border: none; background: transparent;}



.switch{
  margin-right: 6%;
}




.main-container{
  max-height: 90vh;
  margin: auto;
}

.dataview-container{
  background-color: rgba(120, 158, 155,0.5);
  border-radius: 2%;
}


.category-container {
  
  margin-left: 2%;
  
  h1,h2{
    color: #555;
  }


  .cat {
    font-size: 20px; 
    margin-left: 1%;
    color: #576c6b;
  }
}

 

.tag{
 
  background-color: #789e9b;
  float:right;
  margin-left: 5px;

}
.cardd{
  border:0;
  border-radius: 2%;
  padding: 10px;
  font-size: 14px;
   min-height: 450px;

}

.dark{

  
  form{
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.1);
  }
  input{
    background-color:  rgba(58, 27, 46,0.3);
    color: white;
  }
  color: white;
  .cardd{
    background-color: black;
    color: white;
  }
  .app,.app2{
    background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0)
    ),
    url("darkbackg.jpg");
    background-size: cover;
    background-position: center;
    .dataview-container{
      background-color:  rgba(6, 4, 5, 0.5);
      .cardd,.paginator{
        background-color:  rgb(33, 37, 41);
      }
    }

    .category-container{
      h1,h2{
        color: white;
      }
    }

}

.editor{
  background-color:rgb(33, 37, 41) ;
  color: white;
  min-height: 300px;
}

}




.add {
 
  display: flex;
  gap: 20px;
 
  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
 

    input {
      padding: 10px;
   
    }

    .editorContainer {
     height: 450px;
      overflow: scroll;
     background-color: white;
     
    

      .editor {
        height: 100%;
       font-size: 20px;
  
      }
    }
  }

  .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;

    .item {
    
      padding: 10px;
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   
      color: #555;

      h1{
        font-size: 20px;
      }

      .file{
        text-decoration: underline;
        cursor: pointer;
      }

      .buttons{
        display: flex;
        justify-content: space-between;
      }

      .cat{
   
        color: #607d7b;
        
        label{
          padding-left: 1rem;
        }
      }
    }
  }
}



.write{
  height: 110vh;
}

@media only screen and (max-width: 576px) {
  
  .app{
    
      height: 100vh;
   
  }

  .app2{
    height: 600vh;
    min-width: 576px;
  }
  .navbar{
    min-width: 576px;
  }
}


.card-image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

.dt-header{justify-content: space-between;}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .app2 {
    height: 600vh;
    min-width: 577px;
  }
  .app{
    height: 100vh;
    min-width: 577px;
  }

  .navbar {
    min-width: 576px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .app2 {
    height: 290vh; 
  }
  .app {
    height: 100vh;
  }
}
@media only screen and (min-width: 1301px)  {
  .app2 {
    height: 220vh; 
  }
  .app {
    height: 100vh;
  }
}
